/*! normalize.scss v0.1.0 | MIT License | based on git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

body {
  font-family: "Roboto", sans-serif; }

img {
  max-width: 100%;
  height: auto; }

*, ::after, ::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

a, a:active, a:link {
  color: #d59541;
  text-decoration: none; }

.page-section {
  padding: 1.2rem 0; }
  @media (min-width: 530px) {
    .page-section {
      padding: 3.5rem 0; } }
  .page-section__title {
    font-size: 2.75rem;
    font-weight: 300;
    margin-bottom: 1em;
    text-align: center; }
    .page-section__title-blue {
      color: #2f5572;
      font-weight: 300; }
    @media (min-width: 530px) {
      .page-section__title {
        font-size: 3.75rem;
        margin-top: 0; } }
    .page-section__title strong {
      font-weight: 500; }
  .page-section__blue {
    background: #2f5572;
    color: #FFFFFF; }

.icons {
  background-image: url("/assets/images/sprites/sprites-69f19c2e.svg"); }

.icons--clear-view-escapes {
  width: 142.4px;
  height: 59.53px;
  background-position: 0 0; }

.icons--comment {
  width: 64px;
  height: 64px;
  background-position: 99.70443349753694% 0; }

.icons--facebook {
  width: 21.23px;
  height: 42.01px;
  background-position: 26.040607071652357% 45.795830448496034%; }

.icons--fire {
  width: 56px;
  height: 64px;
  background-position: 0 99.56481481481481%; }

.icons--globe {
  width: 64px;
  height: 64px;
  background-position: 27.586206896551722% 99.56481481481481%; }

.icons--instagram {
  width: 42.01px;
  height: 42.01px;
  background-position: 63.2917018534157% 49.234556504346486%; }

.icons--mail {
  width: 64px;
  height: 48px;
  background-position: 0 48.00806451612903%; }

.icons--rain {
  width: 64px;
  height: 64px;
  background-position: 99.70443349753694% 59.25925925925926%; }

.icons--star {
  width: 64px;
  height: 64px;
  background-position: 59.11330049261084% 99.56481481481481%; }

.icons--twitter {
  width: 51.78px;
  height: 42.06px;
  background-position: 94.04330452560171% 98.50700323226104%; }

.icons--wifi {
  width: 60px;
  height: 64px;
  background-position: 68.79227053140097% 0; }

.icons--youtube {
  width: 34.75px;
  height: 42px;
  background-position: 36.69752421959096% 45.792307692307695%; }

.large-hero {
  position: relative;
  border-bottom: 10px solid #2f5572; }
  .large-hero__text-content {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    text-align: center;
    padding-top: 60px; }
  .large-hero__title {
    font-weight: 300;
    color: #2f5572;
    font-size: 2.4rem;
    margin: 0; }
    @media (min-width: 530px) {
      .large-hero__title {
        font-size: 3rem; } }
    @media (min-width: 800px) {
      .large-hero__title {
        font-size: 4.8rem; } }
  .large-hero__subtitle {
    font-weight: 300;
    color: #2f5572;
    font-size: 1.5rem;
    text-transform: capitalize;
    margin: 0; }
    @media (min-width: 530px) {
      .large-hero__subtitle {
        font-size: 1.8rem; } }
    @media (min-width: 800px) {
      .large-hero__subtitle {
        font-size: 2rem; } }
    @media (min-width: 1200px) {
      .large-hero__subtitle {
        font-size: 2.5rem; } }
  .large-hero__description {
    min-width: 40rem;
    font-weight: 100;
    font-size: 1.1rem;
    color: #FFF;
    text-transform: capitalize;
    letter-spacing: 2px; }
    @media (min-width: 530px) {
      .large-hero__description {
        font-size: 1.4rem; } }
    @media (min-width: 800px) {
      .large-hero__description {
        font-size: 1.875rem; } }
  .large-hero__image {
    display: block; }

.btn {
  display: inline-block;
  padding: .75rem 1.2rem;
  background: #2f5572;
  font-weight: 300;
  text-decoration: none;
  text-align: center;
  color: #FFFFFF;
  text-transform: capitalize;
  letter-spacing: 1px; }
  .btn__orange {
    color: #FFF;
    background: #d59541; }
  .btn__large {
    font-weight: 300;
    letter-spacing: 1px;
    padding: 1.1rem 1.9rem; }
    @media (min-width: 530px) {
      .btn__large {
        font-size: 1.25rem; } }

.headline {
  color: #2f5572;
  font-size: 1.875em;
  font-weight: 200;
  text-transform: capitalize; }
  @media (min-width: 530px) {
    .headline {
      font-size: 2.875rem; } }
  .headline__centered {
    text-align: center; }
  .headline__orange {
    color: #d59541; }
  .headline__small {
    font-size: 1.5rem; }
    @media (min-width: 530px) {
      .headline__small {
        font-size: 1.875rem; } }
  .headline__narrow {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto; }
  .headline__light {
    font-weight: 200; }
  .headline__margin-b-small {
    margin-top: 0.5em; }
  .headline__margin-b-large {
    margin-bottom: 1.6em; }
  .headline__small-no-t-margin {
    margin-top: 0px; }

.wrapper {
  padding-right: 18px;
  padding-left: 18px;
  max-width: 1236px;
  margin: 0 auto; }
  .wrapper__relative {
    position: relative; }
  .wrapper .wrapper {
    padding-right: 0;
    padding-left: 0; }
  .wrapper__medium {
    max-width: 976px; }
  .wrapper__b-margin {
    margin-bottom: 1rem; }
    @media (min-width: 530px) {
      .wrapper__b-margin {
        margin-bottom: 2.875rem; } }

.image__grow {
  max-width: 100%;
  display: block;
  margin: 0 auto; }

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media (min-width: 800px) {
    .row {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row; } }
  .row__gutters > div {
    padding-right: 0; }
    @media (min-width: 800px) {
      .row__gutters > div {
        padding-right: 65px; } }
    .row__gutters > div:last-child {
      padding-right: 0; }
  .row__gutters-large > div {
    padding-right: 0; }
    @media (min-width: 530px) {
      .row__gutters-large > div {
        padding-right: 100px; } }
    .row__gutters-large > div:last-child {
      padding-right: 0; }

.col__small {
  -ms-flex-preferred-size: 33.33%;
      flex-basis: 33.33%; }

.col__large {
  -ms-flex-preferred-size: 66.66%;
      flex-basis: 66.66%; }

.col__margin-bottom {
  margin-bottom: 1.2rem; }

.col__even {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%; }

.generic-container p {
  font-size: 0.975rem;
  font-weight: 300;
  line-height: 1.65;
  margin: 0 0 1.8rem 0; }
  @media (min-width: 530px) {
    .generic-container p {
      font-size: 1.25rem; } }

.generic-container p a {
  font-weight: 400; }

.features__image-margin {
  margin: 0 auto .5em auto;
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
  display: block; }
  @media (min-width: 530px) {
    .features__image-margin {
      margin-right: 1rem;
      margin-left: 0;
      margin-bottom: 0;
      display: inline-block; } }

.features__image-margin-large {
  margin-right: 1rem; }

.features__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 1.4em; }
  .features__block > span {
    display: table; }
  @media (min-width: 530px) {
    .features__block {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start; } }
  .features__block--textBlock h3 {
    margin: 0.6em 0;
    padding: 0;
    font-size: 1.875rem;
    font-weight: 100;
    text-align: center; }
    @media (min-width: 530px) {
      .features__block--textBlock h3 {
        margin-top: 0;
        text-align: left; } }
  .features__block--textBlock p {
    font-size: 1rem;
    letter-spacing: 0.5px;
    color: #bcd3e4;
    font-weight: 200; }

.testimonial {
  background: url("/assets/images/testimonials-bg.jpg") no-repeat top center;
  background-size: cover; }
  .testimonial__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 1.1rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    background: rgba(255, 255, 255, 0.5);
    padding: 1rem .5rem 1.5rem .5rem;
    margin-top: 5rem; }
    @media (min-width: 530px) {
      .testimonial__block {
        margin-top: 2rem;
        font-size: 1.2rem; } }
  .testimonial__image {
    width: 160px;
    height: 160px;
    border: 5px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: -80px;
    -webkit-transform: translateY(-80px);
            transform: translateY(-80px); }
  .testimonial__margin-right {
    margin-right: 0; }
    @media (min-width: 530px) {
      .testimonial__margin-right {
        margin-right: 45px; } }
  .testimonial__title {
    color: #2f5572;
    font-weight: 500;
    margin-top: 1rem; }
  .testimonial__subtitle {
    color: #d59541;
    font-weight: 200;
    margin-top: 0rem;
    font-size: 1.1rem;
    margin-bottom: 1.875rem; }

.sitefooter {
  background: #2f5572;
  margin-top: 1rem;
  padding: 1rem 0;
  color: white; }
  @media (min-width: 530px) {
    .sitefooter {
      margin-top: 0; } }
  .sitefooter__content {
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
  .sitefooter__paragraph {
    text-align: center;
    font-weight: 300; }
  .sitefooter__margin-left {
    margin-left: 1rem;
    -ms-flex-item-align: center;
        align-self: center; }

.site-nav {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
  -webkit-transition: background .4s ease-in;
  transition: background .4s ease-in; }
  .site-nav__fadeIn {
    background: rgba(47, 85, 114, 0.55); }
  @media (min-width: 800px) {
    .site-nav {
      background: rgba(47, 85, 114, 0.3);
      padding: .4rem; } }
  .site-nav__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1; }
  .site-nav__col {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 100px;
    opacity: 0;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    -webkit-transition: all .4s ease;
    transition: all .4s ease; }
    @media (min-width: 800px) {
      .site-nav__col {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        padding-top: 0;
        -webkit-transform: scale(1);
                transform: scale(1);
        opacity: 1; } }
    .site-nav__col-links {
      margin-right: 25px;
      -webkit-box-ordinal-group: 3;
          -ms-flex-order: 2;
              order: 2; }
      @media (min-width: 800px) {
        .site-nav__col-links {
          -webkit-box-ordinal-group: 0;
              -ms-flex-order: -1;
                  order: -1; } }
  .site-nav__isVisible {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1; }
  .site-nav__links {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-line-pack: center;
        align-content: center;
    list-style: none; }
    @media (min-width: 800px) {
      .site-nav__links {
        width: 400px; } }
    .site-nav__links li {
      text-align: center;
      margin-right: 1em; }
      .site-nav__links li:last-child {
        border-right: none;
        margin-right: 0; }
      @media (min-width: 800px) {
        .site-nav__links li {
          margin-right: 0;
          padding-left: 0;
          border-right: none; } }
    .site-nav__links li a {
      color: #FFF;
      font-weight: 200;
      letter-spacing: .4px;
      -webkit-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
      padding: .5rem;
      border: 1px solid rgba(255, 255, 255, 0.5); }
      .site-nav__links li a:hover {
        color: #d59541;
        background-color: rgba(47, 85, 114, 0.7); }
      @media (min-width: 800px) {
        .site-nav__links li a {
          padding: 0;
          border: 0; } }
  .site-nav__logo {
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, -10px) scale(0.8);
            transform: translate(-50%, -10px) scale(0.8);
    background-color: #2f5572;
    padding: 25px 36px;
    margin: 0; }
    @media (min-width: 800px) {
      .site-nav__logo {
        left: 0%;
        -webkit-transform: translate(0%, -10px) scale(1);
                transform: translate(0%, -10px) scale(1); } }
  .site-nav__menu-icon {
    padding: 1rem;
    position: absolute;
    top: 20px;
    right: 40px;
    margin-top: 1rem;
    z-index: 3;
    cursor: pointer; }
    @media (min-width: 800px) {
      .site-nav__menu-icon {
        display: none; } }
    .site-nav__menu-icon span {
      margin: 0;
      -webkit-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out; }
      .site-nav__menu-icon span:nth-child(1) {
        width: 30px;
        height: 3px;
        margin: 0 auto;
        position: absolute;
        top: 0%;
        left: 0;
        -webkit-transform-origin: 0  0;
                transform-origin: 0  0;
        background-color: #ecf0f1; }
      .site-nav__menu-icon span:nth-child(2) {
        width: 30px;
        height: 3px;
        margin: 0 auto;
        position: absolute;
        top: 50%;
        left: 0;
        -webkit-transform-origin: 0  0;
                transform-origin: 0  0;
        background-color: #ecf0f1; }
      .site-nav__menu-icon span:nth-child(3) {
        width: 30px;
        height: 3px;
        margin: 0 auto;
        position: absolute;
        top: 100%;
        left: 0;
        -webkit-transform-origin: 0  0;
                transform-origin: 0  0;
        background-color: #ecf0f1; }

.site-nav__menu-icon.hamburger span:nth-child(1) {
  -webkit-transform: translateY(0.5px) rotate(44deg) scaleX(1.505);
          transform: translateY(0.5px) rotate(44deg) scaleX(1.505); }

.site-nav__menu-icon.hamburger span:nth-child(2) {
  opacity: 0; }

.site-nav__menu-icon.hamburger span:nth-child(3) {
  -webkit-transform: translateY(0.3px) rotate(-45deg) scaleX(1.505);
          transform: translateY(0.3px) rotate(-45deg) scaleX(1.505); }
